
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-container{
    /* grid-column: ; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: auto auto auto;
    width: 20%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    grid-gap: 10px;
    /* font-size: 15px; */
    background-color: burlywood;
    border: 1px solid salmon;
    border-radius:7px;
}
.grid-item{
    font-size: 20px;
    padding: 10px;
    background-color: bisque;
    /* margin: 10px; */
    border-radius: 7px;
    border: 1px solid blue;
    outline: none;
}
.btn-container{
    display: flex;
    justify-content: center;
    /* margin: auto; */
}
button{
    background-color: yellow;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid red;
}


